PROXY_API_KEY=your_proxy_api_key
ADMIN_PASSWORD=your_admin_password
ADMIN_SECRET_KEY=your_64char_hex_key
USER_SESSION_SECRET=your_64char_hex_key
TOKEN_ENCRYPT_KEY=your_64char_hex_key
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/oauth2/github/callback
